header {
    background-color: #fef8ec;
    color: #a54b43;
    padding: 1em 2em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: x-large;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.navLinks li a {
    text-decoration: none;
    color: #a54b43;
    font-weight: bold;
    transition: color 0.3s;
}

.navLinks li a:hover {
    color: #ff9800;
}

.logo img {
    height: 9rem;
    width: auto;
}

/* Responsives */

@media (max-width: 768px) {
    nav {
        flex-direction: column; 
        align-items: center;
    }

    .navLinks {
        flex-direction: column; 
        gap: 1em;
    }

    .logo img {
        height: 8rem; 
    }
}

@media (max-width: 480px) {
    header {
        padding: 1em; 
    }

    .logo img {
        height: 6rem; 
    }

    .navLinks {
        gap: 0.5em;
    }
}
#messageModal {
    display: none; /* cachée par défaut */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* fond sombre */
}

#messageModal .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 2em 1.5em;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.3);
    position: relative;
    text-align: center;
}

#messageModal .close-message {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: #a54b43;
}