.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.user-content {
    width: 80%;
    max-width: 800px;
    background-color: #fef8ec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.user-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

#character-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}